
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.section {
    height: 100vh;
    padding: 80px 40px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease;
}

nav h2 {
    font-size: 22px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #0077ff;
}

nav.scrolled {
    background-color: #333;
}

nav.scrolled h2,
nav.scrolled ul li a {
    color: white;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: 80px; 
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    color: #555;
}
